@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: "Inter", sans-serif;
}

body{
    background: #f8f7ff;
    margin:0px
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button{
    background: #53139f;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #c6afff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px #b1b1b1;
}

.styled-table thead tr {
    background-color: #53139f;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #53139f;
}

a{
    text-decoration: none;
}

